.containerHome{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.containerHome > h1{
  margin: 0;
  padding: 0;
}

.containerHome > h2{
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.containerInformacion {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: 100%;
  gap: 4%;
}

.containerBtn {
  margin-top: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 5%;
}

.buttonHome {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 12px 24px;
  color: #B22222;
  text-decoration: none;
  border: 1px solid #B22222;
  border-radius: 8px;
  transition: background 0.3s;
  width: 30rem;
}

.buttonHome:hover{
  color: #FAFAFA;
  background-color: #B22222;
}