.container__cards {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 4%;
  margin: 35px 0px;
}

.container__containerBtn {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 5%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.container__tabla{
  display: flex;
  flex-direction: column;  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
  height: auto;
  background-color: white;
  border-radius: 12px;
  padding: 24px;
}