@import url('../../variables.css');

.table__informacion {
    border-collapse: separate; 
    border-spacing: 0 10px;
    margin-top: 20px;
    width: 100%;
}

/* Estilo del Encabezado */
.table__informacion-encabezado {
    background-color: var(--primario);
    color: var(--secundario);
}

.encabezado__fila th:first-child {
    border-radius: 8px 0 0 8px;
}
.encabezado__fila th:last-child {
    border-radius: 0 8px 8px 0;
}
.cuerpo__columna, .encabezado__columna {
    text-align: center;
    padding: 16px;
    border: none;
}

.cuerpo__columna {
        width: 100px;
    background-color: var(--secundario);
    transition: background-color 0.2s ease; 
}

.cuerpo__columna:last-child {
    width: 10%;
}

.cuerpo__fila td:first-child {
    border-radius: 8px 0 0 8px;
}
.cuerpo__fila td:last-child {
    border-radius: 0 8px 8px 0;
}

/* Efecto Hover en las filas */
.cuerpo__fila:hover td {
    background-color: var(--secundario);
    cursor: pointer;
}

.columna__check{
    width: 10%;
}

.columna__acciones {
    min-width: 120px;
    max-width: 150px;
    padding: 8px;
}

.columna__acciones button {
    width: auto !important;
    padding: 6px 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    flex: 0 1 auto;
}

.columna__acciones svg {
  font-size: 1rem;
  cursor: pointer;
}

.cuerpo__fila.stockBajo .cuerpo__columna {
  background-color: #ffcccc;
  color: var(--primario);                   
}
